/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

/*background-image:url(../images/overlay.png);
    background-repeat:no-repeat;
    background-position:center top;
    height:170px*/
#header{
    
}